/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: auto;
}

.container-global {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f0f0f0;
}

.left {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  z-index: 999;
  height: 800px;
}

.right {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 800px;
  z-index: 999;
}

.players-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #ddd;
  background-color: #f0f8ff; /* Cor de fundo azul claro */
}

.players-list li:last-child {
  border-bottom: none;
}

.players-list .player-info {
  margin-left: 10px;
  font-weight: bold; /* Texto em negrito */
  color: #00008b; /* Cor azul escuro */
}
.players-list span {
  margin-left: 10px;
}

.teams-list {
  list-style: none;
  padding: 0;
}

.teams-list li {
  display: grid;
  margin-bottom: 20px;
  gap: 5px;
  padding: 10px;
  background-color: #f0f8ff;
  color: #00008b;
  font-weight: bold;
}

.teams-list strong {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.teams-list p {
  margin: 0 0 0 20px;
}
